.toast {
    background-color: var(--panel-background);
    color: var(--font-color);
    border: var(--panel-border);
    max-width: 300px;
    width: 20vw;
    min-height: 50px;
    align-items: center;
    margin: 5px;
    border-radius: var(--Border-Radius);
    align-items: center;
}


.toast-body {
    margin:5px;
}