@page "/PaymentType/Add"
@using Colosus.Client.Blazor.Services.Settings
@using Colosus.Entity.Concretes
@inject ISettingsService settingsService
@inject NavigationManager navigationManager
<div class="container">
    <div class="container-header">
        <h3>Ödeme Tipi Ekle</h3>
    </div>
    <Colosus.Client.Blazor.Components.Entry Placeholder="Adı" @bind-Text="paytmentType.Name"></Colosus.Client.Blazor.Components.Entry>
    <Colosus.Client.Blazor.Components.Entry Placeholder="Resim Url'si" @bind-Text="paytmentType.PictureUri"></Colosus.Client.Blazor.Components.Entry>
    <Colosus.Client.Blazor.Components.Button Text="Ekle" OnClick="async()=> await Ekle()"></Colosus.Client.Blazor.Components.Button>
</div>

@code {
    Colosus.Entity.Concretes.CreateModel.PaymentTypeCreateModel paytmentType = new();

    public async Task Ekle()
    {
        paytmentType.FirmPublicKey = AppState.SelectedFirmPublicKey;
        RequestResult requestResult = await settingsService.AddPaymentType(paytmentType);
        if (requestResult != null && requestResult.Ok())
            navigationManager.NavigateTo("/PaymentType/Index");
        AppState.AddMessage(requestResult.Description);
    }
}

