@page "/Management/Index"
@using Colosus.Client.Blazor.Services.Administrator
@inject IAdministratorService administratorService

<div class="container">
    <div class="container-header">
        <h3>Yönetim</h3>
    </div>

    <Colosus.Client.Blazor.Components.Button Text="UpdateDatabase" OnClick="async()=> await UpdateDB()"></Colosus.Client.Blazor.Components.Button>

    <Colosus.Client.Blazor.Components.Button Text="Kullanıcılar"></Colosus.Client.Blazor.Components.Button>
    <Colosus.Client.Blazor.Components.Button Text="Ürünler"></Colosus.Client.Blazor.Components.Button>
    <Colosus.Client.Blazor.Components.Button Text="Sayfalar"></Colosus.Client.Blazor.Components.Button>
    <Colosus.Client.Blazor.Components.Button Text="Müşteriler"></Colosus.Client.Blazor.Components.Button>
    <Colosus.Client.Blazor.Components.Button Text="Satışlar"></Colosus.Client.Blazor.Components.Button>
    <Colosus.Client.Blazor.Components.Button Text="Firmalar"></Colosus.Client.Blazor.Components.Button>
    <Colosus.Client.Blazor.Components.Button Text="Roller"></Colosus.Client.Blazor.Components.Button>

</div>


@code {
    private async Task UpdateDB()
    {
        var res =await administratorService.UpdateDatabase();
        AppState.AddMessage(res.Description);
    }
}
