<div class="container">
  <div class="row">
    <div class="col-0 col-sm-2 col-md-4"></div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="container-header">
        <h3>Giriş Yap</h3>
      </div>
      <input class="form-control row" type="text" [(ngModel)]="username" placeholder="Kullanıcı Adınız :" />
      <input class="form-control row" type="password" [(ngModel)]="password" placeholder="Şifreniz :" />
      <p class="">Hesabınız mı yok? <a routerLink="/Register">Üye Ol</a></p>
      <input class="btn btn-success row" (click)="onLoginSubmit()" type="submit" value="Giriş" />
    </div>
    <div class="col-0 col-sm-2 col-md-4"></div>
  </div>
</div>
