<div class="container ">
  <div class="row">
    <div class="col-0 col-sm-2 col-md-4"></div>
    <div class="col-12 col-sm-8 col-md-4">
      <div class="container-header">
        <h3>Kayıt Ol</h3>
      </div>
      <input class="form-control row" placeholder="Kullanıcı Adınız :" type="text" />
      <input class="form-control row" placeholder="Şifreniz :" type="password" />
      <input class="form-control row" placeholder="Şifre tekrarı :" type="password" />
      <input class="form-control row" placeholder="Eposta :" type="email" />
      <p class="">Hesabınız mı var? <a routerLink="/Login">Giriş Yap</a></p>
      <input type="submit" class="row btn btn-success" value="Kayıt Ol" />
    </div>
    <div class="col-0 col-sm-2 col-md-4"></div>
  </div>
</div>
