<div class="container ">
  <div class="row">
    <div class="col-0 col-sm-2 col-md-4"></div>
    <div class="col-12 col-sm-8 col-md-4">
      <div class="container-header">
        <h3>Kayıt Ol</h3>
      </div>
      <input-component class="row" type="text" placeholder="Kullanıcı Adınız :"></input-component>
      <input-component class="row" type="password" placeholder="Şifreniz :"></input-component>
      <input-component class="row" type="password" placeholder="Şifre tekrarı :"></input-component>
      <input-component class="row" type="email" placeholder="Eposta :"></input-component>

      <p class="">Hesabınız mı var? <a routerLink="/Login">Giriş Yap</a></p>
      <input type="submit" class="row btn btn-success" value="Kayıt Ol" />
    </div>
    <div class="col-0 col-sm-2 col-md-4"></div>
  </div>
</div>
