@page "/Category/Add"
@using Colosus.Client.Blazor.Services.Category
@using Colosus.Entity.Concretes
@using Colosus.Entity.Concretes.DatabaseModel
@using Colosus.Entity.Concretes.RequestModel
@inject ICategoryService categoryService
@inject NavigationManager navigationManager
<div class="center-container">
    <div class="container-header">
        <h3>Yeni Kategori Ekle</h3>
    </div>
    <Colosus.Client.Blazor.Components.Entry @bind-Text="category.Name"
                                     Placeholder="Kategori Adı"></Colosus.Client.Blazor.Components.Entry>
    <Colosus.Client.Blazor.Components.Number @bind-Value="category.Tax"
                                      MinValue="0"
                                      MaxValue="100"
                                      Placeholder="Vergi Yüzdesi"></Colosus.Client.Blazor.Components.Number>
    <Colosus.Client.Blazor.Components.CheckBox Text="Web'de gözüksün" @bind-IsChecked="category.VisibleWeb"></Colosus.Client.Blazor.Components.CheckBox>
    <Colosus.Client.Blazor.Components.Button Text="Ekle" OnClick="async()=>await AddCategory()"></Colosus.Client.Blazor.Components.Button>
</div>

@code {

    Colosus.Entity.Concretes.CreateModel.CategoryCreateModel category = new();
    public async Task AddCategory()
    {
        category.FirmPublicKey = AppState.SelectedFirmPublicKey;
        RequestResult res = await categoryService.AddCategory(category);
        if (res == null)
        {
            AppState.AddMessage("Bir hata oluştu lütfen daha sonra tekrar  deneyiniz.");
            return;
        }
        AppState.AddMessage(res.Description);
        navigationManager.NavigateTo("/Category/Index");

    }
}
