@page "/Currency/Add"
@using Colosus.Client.Services.Settings
@using Colosus.Entity.Concretes
@inject ISettingsService settingsService
@inject NavigationManager navigationManager
<div class="container">
    <div class="container-header">
        <h3>Para Birimi Ekle</h3>
    </div>
    <Colosus.Client.Components.Entry Placeholder="Adı" @bind-Text="currencyCreateModel.Name"></Colosus.Client.Components.Entry>
    <Colosus.Client.Components.Entry Placeholder="Resim Url'si" @bind-Text="currencyCreateModel.Symbol"></Colosus.Client.Components.Entry>
    <Colosus.Client.Components.Button Text="Ekle" OnClick="async()=> await Ekle()"></Colosus.Client.Components.Button>
</div>

@code {
    Colosus.Entity.Concretes.CreateModel.CurrencyCreateModel currencyCreateModel = new();

    public async Task Ekle()
    {
        currencyCreateModel.FirmPublicKey = AppState.SelectedFirmPublicKey;
        RequestResult requestResult = await settingsService.AddCurrency(currencyCreateModel);
        if (requestResult != null && requestResult.Ok())
            navigationManager.NavigateTo("/Currency/Index");
        AppState.AddMessage(requestResult.Description);
    }
}

